.container {
  max-width: 1200px;
  margin: 0 auto;
  margin-top: 8px;
  background-color: #f6f6ef;
  h2 {
    margin: 0;
    font-size: 10pt;
    line-height: 12px;
    font-weight: bold;
    font-family: Verdana, Geneva, sans-serif;
  }
  .heading {
    padding: 10px 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #ff6600;
  }
}
