@import '~antd/dist/antd.css';
html {
  scroll-behavior: smooth;
}

.news {
  font-family: Verdana, Geneva, sans-serif;
  padding-left: 5px;
  padding-top: 10px;
  align-items: center;
  border-bottom: 1px solid rgba(0,0,0,0.2);
  .title {
    display: flex;
    cursor: pointer;
    b {
      margin-right: 5px;
    }
    p {
      margin: 0;
    }
    font-size: 10pt;
  }
  .info {
    font-size: 14px;
    display: flex;
    
    opacity: 0.5;
    .info-user {
      &.name {
        min-width: 150px;
        border-right: 1px solid rgba(0, 0, 0, 0.85);
      }
      display: flex;
      align-items: center;
      margin-left: 10px;
    }
    .by {
      padding-right: 10px;
    }
    .info-r {
      margin-right: 10px;
      display: flex;
    }
    .info-time {
      display: flex;
      width: 20%;
      justify-content: space-between;
      div {
        display: flex;
        align-items: center;
      }
    }
  }
}
