.back-button {
  margin: 0;
}

.item {
  display: flex;
  position: relative;
  align-items: center;
  background: #f6f6ef;
  margin-bottom: 5px;

  .item-desc {
    width: 100%;
    padding:10px 20px;
    h4{
      margin: 0;
      margin-bottom: 10px;
    }
  }

  .item-time {
    min-width: 13%;
    margin:0 15px;
    padding: 0 10px;
    border-right: 1px solid #000000;
  }
  .item_info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .item-link{
      display: flex;
      align-items: center;
    }
    .item_icon {
      display: flex;
      div {
        height: 10px;
        display: flex;
        align-items: center;
        padding-right: 5px;
        margin-right: 5px;
        border-right: 1px solid #000000;
      }
    }
  }
}

.com-list {
  .com-list-main {
    .comment {
      padding:20px 20px 15px 20px;
      background-color: #f6f6ef;
      margin-bottom: 5px;
      border-radius: 10px;
      .comment-descr{
        display: flex;
        align-items: center;
        justify-content: flex-end;
        margin-bottom: 10px;
        .comment-time {
          display: flex;
          align-items: center;
          .hours{
            width: 85px;
            justify-content: space-between;
            display: flex;
            align-items: center;
            margin-right: 10px;
          } 

        }
      }
    }
  }
  .com-list-heading {
    display: flex;
    align-items: center;
    background: #f6f6ef;
    justify-content: space-between;
    padding: 4px 15px;
    margin-bottom: 5px;
    h3{
      margin: 0;
    }
  }
}




.comments {
  p{
    margin: 0;
  }
}
.update {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  border:none;
  color: #001529;
  background: transparent;
  cursor: pointer;
  span{
    margin-right: 5px;
  }
}


.update:hover {
}
